* {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.tableau {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
}

.carte {
    width: 150px;
    height: 150px;
    border: 1px solid rgb(157, 96, 11);
    overflow: hidden;
}

.taupe {
    width: 150px;
    height: 150px;
    background-image: url('img/petite-taupe-fond-blanc_1308-91807.avif');
    background-size: contain;
    animation: appear 0.9s;
}

@keyframes appear {
    0% {
        transform: translateY(130px);
    }

    100% {
        transform: translateY(0);
    }
}